In [1]:
import pandas as pd

In [2]:
# Autoreload
%load_ext autoreload
%autoreload 2

In [3]:
# Specify the delimiter (e.g., ',' for CSV, '\t' for tab, or '::' for MovieLens)
file_path = 'dataset/users.dat'
users_df = pd.read_csv(file_path, delimiter='::', engine='python', header=None)
users_df.columns = ["UserID", "Gender", "Age", "Occupation","Zip-code"]
print(users_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   UserID      6040 non-null   int64
 1   Gender      6040 non-null   object
 2   Age         6040 non-null   int64
 3   Occupation  6040 non-null   int64
 4   Zip-code    6040 non-null   object
dtypes: int64(3), object(2)
memory usage: 236.1+ KB
None

In [4]:
file_path = 'dataset/ratings.dat'
ratings_df = pd.read_csv(file_path, delimiter='::', engine='python', header=None)
ratings_df.columns = ["UserID","MovieID","Rating","Timestamp"]
print(ratings_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   UserID     1000209 non-null  int64
 1   MovieID    1000209 non-null  int64
 2   Rating     1000209 non-null  int64
 3   Timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB
None

In [7]:
#  File being encoded in a different format, such as 'latin-1' or 'ISO-8859-1'.
file_path = 'dataset/movies.dat'
movies_df = pd.read_csv(file_path, delimiter='::', engine='python', header=None, encoding='latin-1')
movies_df.columns = ["MovieID", "Title", "Genres"]
print(movies_df.head())

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [6]:
display([elem for elem in movies_df.Title if "Mummy" in elem])

['Mummy, The (1999)',
 'Mummy, The (1932)',
 'Mummy, The (1959)',
 "Mummy's Curse, The (1944)",
 "Mummy's Ghost, The (1944)",
 "Mummy's Hand, The (1940)",
 "Mummy's Tomb, The (1942)"]

## Scraping data

Cases:
1. Movies with multiple series
2. Movies with multiple remakes

In [8]:
from utils.scrape_utils import *
from utils.wiki_scrapper import GenericScrapper

In [9]:
# Getting Items to scrape
web_scrape_list = movies_df.copy()
scrape_list = get_scrape_list(web_scrape_list)
display(scrape_list.head(15))

                           title  unique_counts
0                $1,000,000 Duck              1
1                  'Night Mother              1
2             'Til There Was You              1
3                    'burbs, The              1
4         ...And Justice for All              1
5                          1-900              1
6     10 Things I Hate About You              1
7                 101 Dalmatians              2
8                   12 Angry Men              1
9              13th Warrior, The              1
10                           187              1
11          2 Days in the Valley              1
12                      20 Dates              1
13  20,000 Leagues Under the Sea              1
14                200 Cigarettes              1

In [10]:
## Initialise
scrapper = GenericScrapper()

#### Using Wikipedia API

In [11]:
# Example to get scraper
sections = scrapper.get_section_dict('King Kong (2005)')

In [12]:
sections["Plot"]

'In 1933, during the Great Depression, struggling New York City vaudeville performer Ann Darrow is hired by financially troubled filmmaker Carl Denham to star in a film with actor Bruce Baxter. Ann is hesitant to join the picture until she learns her favorite playwright, Jack Driscoll, is the screenwriter. Filming takes place on the SS Venture, under Captain Englehorn, and under Carl\'s pretense it will be sailing to Singapore. In truth, Carl intends to film the mysterious Skull Island. Captain Englehorn reconsiders the voyage, prompted by his crew\'s speculation of trouble ahead. During the voyage, Ann and Jack fall in love.\nThe Venture receives a radio message informing Englehorn there is a warrant for Carl\'s arrest due to his defiance of the studio\'s orders to cease production, and instructing Englehorn to divert to Rangoon, but the ship becomes lost in fog and runs aground on Skull Island. Carl and others, including his film crew consisting of cameraman Herb, assistant Preston and boom operator Mike, explore the island and are attacked by natives who kill Mike and a crewman. Englehorn rescues Carl’s group, but as they all prepare to leave, the natives secretly abduct Ann to offer her as a sacrifice to Kong, a 25-foot-tall (7.6 m) ape. Jack notices Ann\'s disappearance, and the crew returns to the island, but Kong flees with Ann into the jungle. Carl catches a glimpse of Kong and becomes determined to film him.\nAnn wins Kong over with her juggling and dancing skills, and begins to grasp his intelligence and capacity for emotion. Englehorn organizes a rescue party, led by his first mate Hayes and Jack, and accompanied by Carl, Herb, Baxter and Preston. The party gets caught between a herd of Brontosaurus baxteri and a pack of Utahraptor-like Venatosaurus saevidicus hunting them, with Herb and several other men killed in the resulting stampede. Baxter and others return to the ship.\nThe remaining party members continue through the jungle when Kong attacks, making them fall into a ravine where Carl loses his camera. Kong rescues Ann from three Tyrannosaurus-like Vastatosaurus rex, bringing her to his den in the mountains. The remaining rescue party are attacked by giant insects in the ravine, resulting in the death of Hayes and most of the rescue party, but Preston, Carl, Jack, and Hayes\' apprentice Jimmy are rescued by Baxter and Englehorn. Jack searches for Ann alone, while Carl decides to capture Kong. Jack finds Kong\'s lair and accidentally awakens him, but escapes with Ann. They arrive at the wall with Kong pursuing them. As Ann begs the crew not to harm him, Kong kills several sailors, but is subdued when Carl knocks him out with chloroform.\nIn New York City that winter, Carl presents "Kong, the Eighth Wonder of the World" on Broadway, starring Baxter and an imprisoned Kong. Ann, who refused to take part in the performance, is played by an anonymous chorus girl. Agitated by the chorus girl not being Ann and flashes from cameras, Kong breaks free from the chains, wrecks the theater, and bursts out into the streets of New York in search of Ann, chasing Jack before encountering her again. The U.S. Army attacks, and Kong tries getting Ann and himself to safety by climbing to the top of the Empire State Building.\nSix United States Navy biplanes arrive; Kong downs three of them, but is mortally wounded from the planes\' gunfire and falls from the building after he dies. As Jack reaches the top of the building to comfort and embrace Ann, civilians, policemen, and soldiers gather around the beast\'s corpse in the street, one bystander commenting the airplanes got him. Carl makes his way through the crowd, takes one last look at Kong and, before walking away, says sadly, "It wasn\'t the airplanes. It was Beauty killed the Beast".'

In [47]:
## Generic way to scrape and add context
search_df = web_scrape_list.merge(scrape_list, on="title")
cast = "Cast"
error_list = []
for index, row in search_df.iterrows():
    try:
    # Scrape 
        if row.unique_counts >1:
            # Search with the date
            sections = scrapper.get_section_dict(row.Title)
        else:
            # Search without date
            sections = scrapper.get_section_dict(row.title)
        
        # Check if plot exsits
        plot_check = [elem for elem in sections.keys() if "plot" in elem.lower()]
        if plot_check:
            # Add DATA
            search_df.at[index, 'Plot'] = sections['Plot']
        else:
            # Research
            sections = scrapper.get_section_dict(row.Title.replace(")", " film)"))

        ####################### To add in Cast #######################
        # # Animation vs Non-animation
        # voice_cast = [elem for elem in sections.keys() if "voice cast" in elem.lower()]
        # if voice_cast:
        #     cast = voice_cast[0]
        # else:
        #     cast = "Cast"   

        # search_df.at[index, 'Cast'] = sections[cast]

    except Exception as e:
        error_list.append(row.Title)
        print(f"ERROR: {e}")

In [46]:
display(row.Title)

'Cry, the Beloved Country (1995)'

In [43]:
scrapper.get_section_dict("Heat (1995 film)")

{'Plot': "Neil McCauley is a professional thief based in Los Angeles. He and his crew – right-hand man Chris Shiherlis, enforcer Michael Cheritto, driver Gilbert Trejo, and newly hired hand Waingro – rob $1.6 million in bearer bonds from an armored car. During the heist, Waingro kills a guard without provocation, forcing the crew to eliminate the other two guards. Later, McCauley prepares to kill Waingro in retaliation for the deaths of the guards, but he escapes.\nLos Angeles Police Department (LAPD) Lieutenant Vincent Hanna and his team investigate the robbery. Hanna, a dedicated lawman and former Marine, has a strained relationship with his third wife Justine, and struggles to connect with his stepdaughter, Lauren. McCauley, who lives a solitary life, begins a relationship with Eady, a graphic designer. They bond over their mutual isolation from society, and, claiming to be a metalworker, McCauley asks her to emigrate to New Zealand with him.\nMcCauley's fence, Nate, suggests he sell the stolen bonds back to their original owner, money launderer Roger Van Zant. Van Zant pretends to agree but instead arranges an ambush. Anticipating a trap, McCauley and his crew counter-ambush and kill the hitmen. Afterwards, McCauley calls Van Zant and vows revenge. An informant of the LAPD connects Cheritto to the robbery, and Hanna's team begins monitoring him, leading to the rest of the crew and their next target, a precious metals depository. Hanna's team stakes out the depository, but when a careless officer makes a noise, McCauley aborts the heist.\nMcCauley's crew agree to one last bank robbery worth $12.2 million. Hanna tracks McCauley and pulls him over on the 105 Freeway, inviting him to coffee. They discuss their dedication to their respective jobs and the limitations of their personal lives; Hanna describes his failing marriage and McCauley confides that he is similarly isolated. Though they admit their respect for one another, both acknowledge that they will kill the other if necessary. Waingro makes a deal with Van Zant to help eliminate McCauley's crew. Trejo quits the bank robbery at the last moment, claiming the LAPD is following him too closely. McCauley recruits an old colleague, Don Breedan, to take Trejo's place as the getaway driver, and the crew carries out the heist.\nActing on a tip from Van Zant's bodyguard, the LAPD intercepts the crew as they leave the bank, leading to a massive shootout. Breedan and Cheritto are killed alongside 18 police officers, while McCauley escapes with a wounded Shiherlis, and Hanna loses two of his fellow detectives. McCauley takes Shiherlis to a doctor to treat his wounds and leaves him with Nate. Suspecting Trejo tipped off the LAPD, McCauley arrives at his house to confront him, but finds him mortally wounded and his wife killed. Trejo reveals Waingro and Van Zant forced him to divulge the bank heist plans before asking McCauley to kill him. McCauley breaks into Van Zant's mansion and shoots him dead. Upon learning of McCauley's connection to Waingro and that the latter is hiding in a hotel, Hanna decides to use Waingro as bait to lure McCauley. As McCauley prepares to flee the country, Eady discovers his criminal identity, but agrees to go with him. Before escaping, Shiherlis attempts to reconcile with his wife Charlene, who has been forced by the LAPD to bring him in. As Shiherlis encounters Charlene at her safe house, she warns him away with a hand gesture, and he escapes.\nHaving separated from Justine, Hanna finds Lauren has attempted suicide in his own hotel room and rushes her to the hospital; he reconciles with Justine after they learn that Lauren has survived, although they both agree that their relationship will never work. McCauley drives to the Los Angeles International Airport with Eady to flee to New Zealand via private jet. However, when Nate gives him Waingro's location, McCauley abandons his usual caution to seek revenge. McCauley infiltrates the hotel, pulls the fire alarm, bursts into Waingro's room and kills him. As McCauley returns to Eady, he is spotted by Hanna. McCauley abandons Eady, fleeing onto the tarmac at the airport, pursued by Hanna. The two stalk each other, and Hanna shoots McCauley in the chest. Hanna takes McCauley's hand as he dies of his wounds.",
 'Cast': 'Additional cast members include Martin Ferrero as a hardware salesman and Hazelle Goodman as the mother of a prostitute murdered by Waingro. Featured as members of the LAPD are Paul Herman as Sergeant Heinz, Cindy Katz as forensics investigator Cindy, and Dan Martin as Detective Harry Dieter. Stuntmen Rick Avery, Bill McIntosh, and Thomas Rosales Jr. portray the armored truck guards. Patricia Healy appears as a woman in a relationship with Bosko and Yvonne Zima plays the girl taken hostage by Cheritto. News reporter Claudia is portrayed by Farrah Forke. Bud Cort makes an uncredited appearance as restaurant owner Solenko.',
 'Development': '',
 'Production': '',
 'Soundtrack': 'On December 19, 1995, Warner Bros. Records released a soundtrack album on cassette and CD to accompany the film, entitled Heat: Music from the Motion Picture. The album was produced by Matthias Gohl. It contains a 29-minute selection of the film score composed by Elliot Goldenthal, as well as songs by other artists such as U2 and Brian Eno (collaborating as Passengers), Terje Rypdal, Moby, and Lisa Gerrard. Heat used an abridged instrumental rendition of the Joy Division song "New Dawn Fades" by Moby, which also features in the same form on the soundtrack album. Mann reused the Einstürzende Neubauten track "Armenia" in his 1999 film The Insider. The film ends with Moby\'s "God Moving Over the Face of the Waters", a different version of which was included at the end of the soundtrack album.\nMann and Goldenthal decided on an atmospheric situation for the film soundtrack. Goldenthal used a setup consisting of multiple guitars, which he termed "guitar orchestra", and thought it brought the film score closer to a European style.',
 'Release': '',
 'Reception': 'On Rotten Tomatoes, Heat holds an approval rating of 83% based on 151 reviews and an average rating of 7.8/10. The website\'s critical consensus reads, "Though Al Pacino and Robert De Niro share but a handful of screen minutes together, Heat is an engrossing crime drama that draws compelling performances from its stars – and confirms Michael Mann\'s mastery of the genre." On Metacritic, the film has a weighted average score of 76 out of 100, based on 22 critics, indicating "generally favorable reviews". Audiences polled by CinemaScore gave the film an average grade of "A−" on an A+ to F scale.\nRoger Ebert gave the film three and a half stars out of four. He described Mann\'s script as "uncommonly literate", with a psychological insight into the symbiotic relationship between police and criminals, and the fractured intimacy between the male and female characters: "It\'s not just an action picture. Above all, the dialogue is complex enough to allow the characters to say what they\'re thinking: They are eloquent, insightful, fanciful, poetic when necessary. They\'re not trapped with cliches. Of the many imprisonments possible in our world, one of the worst must be to be inarticulate – to be unable to tell another person what you really feel." Simon Cote of The Austin Chronicle called the film "one of the most intelligent crime-thrillers to come along in years", and said Pacino and De Niro\'s scenes together were "poignant and gripping."\nKenneth Turan of the Los Angeles Times called the film a "sleek, accomplished piece of work, meticulously controlled and completely involving. The dark end of the street doesn\'t get much more inviting than this." Todd McCarthy of Variety wrote, "Stunningly made and incisively acted by a large and terrific cast, Michael Mann\'s ambitious study of the relativity of good and evil stands apart from other films of its type by virtue of its extraordinarily rich characterizations and its thoughtful, deeply melancholy take on modern life." Owen Gleiberman of Entertainment Weekly gave it a B− rating, saying that "Mann\'s action scenes ... have an existential, you-are-there jitteriness," but called the heist-planning and Hanna\'s investigation scenes "dry, talky."\nRolling Stone ranked Heat #28 on its list of "The 100 Greatest Movies of the \'90s", and The Guardian ranked it #22 on its list of "The Greatest Crime Films of All Time", while other publications have noted its influence on numerous subsequent films.\nAlthough it did not receive any major award nominations, the film was nominated for Best Action/Adventure Film and Kilmer for Best Supporting Actor at the Saturn Awards but lost to The Usual Suspects and 12 Monkeys respectively.',
 'Impact': 'French gangster Rédoine Faïd told Mann at a film festival "You were my technical adviser". The media described later robberies as resembling scenes from Heat, including armored car robberies in South Africa, Colombia, Denmark, and Norway and the 1997 North Hollywood shootout, in which Larry Phillips Jr. and Emil Mătăsăreanu robbed the North Hollywood branch of the Bank of America and, similarly to the film, were confronted by the LAPD as they left the bank. A copy of "Heat" was found in the VCR at Phillips\' residence. This shootout is considered one of the longest and bloodiest events of its type in American police history. Both robbers were killed, and eleven police officers and seven civilians were injured during the shootout.  Heat was widely referenced during the coverage of the shootout.\nFor his 2008 film The Dark Knight, director Christopher Nolan drew inspiration in his portrayal of Gotham City from Heat in order "to tell a very large, city story or the story of a city". In 2016, a year after the 20th anniversary of Heat, Nolan moderated a Q&A session with Michael Mann and cast and crew at the Samuel Goldwyn Theater.\nHeat was one of the inspirations behind the highly influential 2001 video game Grand Theft Auto III as well as the 2008 sequel Grand Theft Auto IV, notably the mission "Three Leaf Clover", which was inspired by the climactic bank robbery and police shootout, and the 2013 sequel Grand Theft Auto V, notably the mission "Blitz Play" where the crew blocks and then knocks over an armored car in order to rob it.\nDirector Mia Hansen-Løve has said she is "obsessed" with Heat and said "the themes of Heat, actually, are themes of my films, except in a very different way, in a very different world".',
 'Subsequent works': "On March 16, 2016, Mann announced that he was developing a Heat prequel novel, as a part of launching his company Michael Mann Books. On April 27, 2017, Reed Farrel Coleman joined the project as co-author. On May 15, 2020, Mann stated that the novel would function as both a prequel and a sequel, with plot taking place before and after the film's main events. By January 19, 2022, it was revealed that the novel would be a collaboration between Mann and Meg Gardiner; it was subsequently released in August 2022. The title is Heat 2.\nIn September 2019, Michael Mann stated that he intends to produce an adaptation of the novel, acknowledging film and television as possible mediums for release. By July 5, 2022, Mann reaffirmed his plans to adapt the novel follow-up into a feature film, while stating that the principal cast from the first installment may be recast for the adaptation. In April 2023, it was reported that the sequel was in development, with Adam Driver in talks to play young McCauley.",
 'See also': 'Heist film',
 'References': '',
 'External links': 'Heat at IMDb\nHeat at AllMovie\nHeat at Box Office Mojo\nHeat at Rotten Tomatoes\nHeat at Metacritic \nHeat. Work and genre Jump Cut magazine, by J. A. Lindstrom, no. 43, July 2000, pp. 21–37\nDe Niro and Pacino Star in a Film. Together, from The New York Times'}

In [34]:
display(sections.keys())

dict_keys(['Notation and units', 'History', 'Heat transfer', 'Latent and sensible heat', 'Heat capacity', '"Hotness"', 'Classical thermodynamics', 'See also', 'References', 'External links'])

In [30]:
display(search_df)

,MovieID,Title,Genres,title,year,unique_counts,Plot,Cast
0,1,Toy Story (1995),Animation|Children's|Comedy,Toy Story,1995,1,"A group of sentient toys, who pretend to be li...","Tom Hanks as Woody, a pullstring cowboy doll w..."
1,2,Jumanji (1995),Adventure|Children's|Fantasy,Jumanji,1995,1,NaN,NaN
2,3,Grumpier Old Men (1995),Comedy|Romance,Grumpier Old Men,1995,1,NaN,NaN
3,4,Waiting to Exhale (1995),Comedy|Drama,Waiting to Exhale,1995,1,NaN,NaN
4,5,Father of the Bride Part II (1995),Comedy,Father of the Bride Part II,1995,1,NaN,NaN
...,...,...,...,...,...,...,...,...
3877,3948,Meet the Parents (2000),Comedy,Meet the Parents,2000,1,NaN,NaN
3878,3949,Requiem for a Dream (2000),Drama,Requiem for a Dream,2000,1,NaN,NaN
3879,3950,Tigerland (2000),Drama,Tigerland,2000,1,NaN,NaN
3880,3951,Two Family House (2000),Drama,Two Family House,2000,1,NaN,NaN
3881,3952,"Contender, The (2000)",Drama|Thriller,"Contender, The",2000,1,NaN,NaN

#### WikiMediaAPI (wptools)

In [259]:
scrapper.get_page_summary_w_release_date('King Kong (2005)',"2005")

 King Kong (2005) 2005 :: {{Film date|2005|12|05|[[New York City]]|2005|12|13|New Zealand|2005|12|14|United States}} Found

'King Kong is a 2005 epic adventure monster film co-written, produced, and directed by Peter Jackson. It is the ninth entry in the King Kong franchise and the second remake of the 1933 film of the same title, the first being the 1976 remake. The film stars Naomi Watts, Jack Black, and Adrien Brody. Set in 1933, it follows the story of an ambitious filmmaker who coerces his cast and hired ship crew to travel to mysterious Skull Island. There they encounter prehistoric creatures and a legendary giant gorilla known as Kong, whom they capture and take to New York City.Development began in early 1995, when Universal Pictures approached Jackson to direct the remake of the original 1933 film. The project stalled in early 1997, as several ape and giant monster-related films were under production at the time and Jackson planned to direct The Lord of the Rings film series. As the first two films in the Rings trilogy became commercially successful, Universal went back to Jackson in early 2003, expressing interest in restarting development on the project, to which Jackson eventually agreed. Filming for King Kong took place in New Zealand from September 2004 to March 2005. It is currently one of the most expensive films ever produced as its budget climbed from an initial $150 million to a then record-breaking $207 million.King Kong premiered at New York City on December 5, 2005, and was theatrically released in Germany and United States on December 14. The film garnered positive reviews, and eventually appeared in several top ten lists for 2005; it was praised for the special effects, performances, sense of spectacle and comparison to the 1933 original, though some criticisms were raised over its 3-hour run time. It was a commercial success, grossing over $556.9 million, and became the fourth-highest-grossing film in Universal Pictures history at that time and the fifth-highest-grossing film of 2005. It also generated $100 million in DVD sales upon its home video release in March 2006. It won three Academy Awards for Best Sound Editing, Best Sound Mixing and Best Visual Effects. A tie-in video game was released alongside the film, which also became a commercial and critical success.'